fastapi
uvicorn
python-multipart
streamlit
langgraph
langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
python-dotenv
requests
aiosqlite
duckduckgo-search
langgraph-checkpoint-sqlite