fastapi
uvicorn
python-multipart
langgraph
langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
python-dotenv
duckduckgo-search>=6.0.0
ddgs
langgraph-checkpoint-sqlite