streamlit
langgraph
langchain
langchain-community
langchain-openai
langchain-mcp-adapters
faiss-cpu
pypdf
python-dotenv
requests
aiosqlite
duckduckgo-search
ddgs
langgraph-checkpoint-sqlite
langchain-huggingface